.resourceRow {
    border: 1px solid grey;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.resourceRowRight {
    display: flex;
}
.resourceRowChanged {
    margin-right: 20px;
}
.resourceRowButtons {

}
.resourceRowButton {
    
}