.container { width: 100%; }
.title { margin-bottom: 24px; }
.text,.textArea { width: 100%; box-sizing: border-box; margin-bottom: 16px; font-size: 18px; }
.textArea { min-height: 300px; }
.label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}