.Row {
    border: 1px solid grey;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.Row+.Row {
    border-top: none;
}
.RowRight {
    display: flex;
}
.RowChanged {
    margin-right: 20px;
}
.RowButtons {

}
.RowButton {
    
}